html, body, #root {
  width: 100%;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.MuiDialog-paper .MuiCardContent-root:last-child {
  padding-bottom: 0;
}

.MuiDialog-paper .MuiCardContent-root {
  padding: 0;
}

.MuiDialog-paperFullScreen {
  display: flex;
  justify-content: center;
  align-items: center;
}
